[Unit]
Description=ssh port forwarding to karla
After=network-online.target
Wants=network-online.target
OnFailure=serviceFailed@%n.service

[Service]
Type=simple
ExecStart=/usr/bin/ssh -NvL 9000:localhost:6006 karla

[Install]
WantedBy=default.target
