[Unit]
Description=Live Syncing (Mirror) Daemon
After=network.target

[Service]
Restart=always
RestartSec=5s
Type=simple
Nice=19
ExecStart=/usr/bin/lsyncd -nodaemon -pidfile /tmp/lsyncd%i.pid %h/.config/lsyncd-conf/%i.ldsync
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
PIDFile=/tmp/lsyncd%i.pid
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
