[Unit]
Description=Live Syncing (Mirror) Daemon
After=network.target

[Service]
Restart=always
Type=simple
Nice=19
ExecStart=/usr/bin/lsyncd -nodaemon -pidfile /tmp/lsyncd%i.pid %h/.config/lsyncd-conf/%i.ldsync
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/tmp/lsyncd%i.pid

[Install]
WantedBy=multi-user.target
