[Unit]
Description=Sync folder to karla
After=network-online.target
Wants=network-online.target
OnFailure=serviceFailed@%n.service

[Service]
Type=simple
ExecStart=/usr/bin/lsyncd -nodaemon -delay 1 -rsyncssh %h/Desktop/ml/ karla src/

[Install]
WantedBy=default.target
