# Almost everything
*
!.gitignore
!/.config/
!/.config/i3/
!/.config/i3/*
!/.config/i3/*/*

!/.config/ranger/
!/.config/ranger/*

!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/*

!/.config/dunst/
!/.config/dunst/*

!/scripts
!/scripts/*

!/.zshrc
!/.zpreztorc
!/.tmux.conf
!/.vimrc
!/.Xresources
!/README.md

!/.jupyter
!/.jupyter/*
!/.jupyter/*/*
