# Almost everything
*
!.gitignore
!/.config/
!/.config/i3/
!/.config/i3/*
!/.config/i3/*/*

!/.config/ranger/
!/.config/ranger/*

!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/*

!/.config/dunst/
!/.config/dunst/*

!/.config/lsyncd-conf/
!/.config/lsyncd-conf/*

!/scripts
!/scripts/*

!/.zshrc
!/.zpreztorc
!/.tmux.conf
!/.vimrc
!/.Xresources
!/README.md

!/.jupyter
!/.jupyter/*
!/.jupyter/*/*

!/.local/share/applications/mimeapps.list
!/.local/share/applications
!/.local/share
!/.local
