# Almost everything
*
!.gitignore
!/.config/
!/.config/i3/
!/.config/i3/*
!/.config/i3/*/*

!/.config/ranger/
!/.config/ranger/*

!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/*

!/.config/dunst/dunstrc
!/.config/dunst/

!/.zshrc
!/.tmux.conf
!/.vimrc
!/.Xresources
!/README.md
