! #     #
!  #   #  ###### #####
!   # #   #        #
!    #    #####    #
!   # #   #        #
!  #   #  #        #
! #     # #        #

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


!  ######
!  #     #  ####  ###### #
!  #     # #    # #      #
!  ######  #    # #####  #
!  #   #   #    # #      #
!  #    #  #    # #      #
!  #     #  ####  #      #
!
! man rofi

rofi.modi:                           window,run
rofi.opacity:                        75
rofi.width:                          -75
rofi.lines:                          5
rofi.columns:                        1
rofi.font:                           Lobster 16

! Border width
rofi.bw:                             5
rofi.location:                       0
rofi.padding:                        30
rofi.hide-scrollbar:                  true

rofi.fixed-num-lines:                true
rofi.terminal:                       rofi-sensible-terminal
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
rofi.run-command:                    {cmd}
rofi.run-shell-command:              {terminal} -e {cmd}

rofi.levenshtein-sort:               false
rofi.case-sensitive:                 false
rofi.sidebar-mode:                   true

rofi.lazy-filter-limit:              15000
! Row height (in chars)
rofi.eh:                             1
rofi.auto-select:                    false
rofi.parse-hosts:                    false
rofi.parse-known-hosts:              true

rofi.combi-modi:                     window,run
rofi.fuzzy:                          true

rofi.kb-clear-line: Control+l
rofi.kb-remove-word-back: Control+BackSpace

! https://davedavenport.github.io/rofi/p05-Themes.html
rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c


urxvt*termName:  rxvt-256color
urxvt*loginShell:         true
urxvt*scrollBar:         false
urxvt*secondaryScroll:    true
urxvt*saveLines:         65535
urxvt*cursorBlink:       false
urxvt*urgentOnBell:       true

URxvt*geometry:         112x22

! -- Fonts -- !
URxvt.font:xft:fira mono slashed:medium:pixelsize=15
URxvt.boldFont:xft:fira mono slashed:medium:pixelsize
URxvt.letterSpace: -1

URxvt*urlLauncher:         google-chrome-stable
URxvt*scrollBar:        false
URxvt*scrollBar_right:        true

#define base00 #1e1e1e
#define base01 #323537
#define base02 #464b50
#define base03 #5f5a60
#define base04 #838184
#define base05 #a7a7a7
#define base06 #c3c3c3
#define base07 #ffffff
#define base08 #cf6a4c
#define base09 #cda869
#define base0A #f9ee98
#define base0B #8f9d6a
#define base0C #afc4db
#define base0D #7587a6
#define base0E #9b859d
#define base0F #9b703f

*.foreground:   base02
*.background:   base07
*.cursorColor:  base02

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07
